<div class="signupCont"> 
  <h2>Sign up</h2>
  <form (submit)="onSignup()">  
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" placeholder="example: Alias">
    </div>
    <div>
      <label for="password">Email:</label>
      <input type="email" id="email" name="email" placeholder="example@email.com">
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password">
    </div>
    <button type="submit">Sign up</button>
  </form>
  <button type="submit"><a routerLink="/">Back</a></button>
</div> 